<div class="flexible centerize absolute column no-min" [attr.noBack]="authService.isAuthenticated() ? 'true' : null">
  <h1 primary>Whoops!</h1>
  <h4>The requested path <span primary>{{ path }}</span> does not exist. Tap sad face to head home.</h4>
  <h2 primary>
    <i class="material-icons">
      <a inline routerLink="/login"></a>
    </i>
  </h2>
</div>
