h1, h2, h3, h4 {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: larger;
}

h2 {
  margin-bottom: 25%;
  position: relative;

  & > i {
    font-size: 48px;
    position: relative;

    &:after {
      color: #663399;
      content: 'sentiment_very_dissatisfied';
    }

    &:active:after {
      content: 'sentiment_very_satisfied';
    }

    & a {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
