<div class="flexible absolute">
	<form class="fd-form flexible no-min column centerize" noBack fill [formGroup]="resetForm" (ngSubmit)="onSubmit()">
		<div class="spacer"></div>
		<h1 class="fd-form-title" cursive primary>Reset Password</h1>
		<div class="break" medium></div>
		<div class="fd-item fd-input-holder" center>
			<input type="email" primary placeholder="Six-Digit Code" autofocus name="code" required class="fd-input">
		</div>
		<div class="break" small></div>
		<div class="fd-item fd-input-holder" center>
			<input type="email" primary placeholder="E-Mail Address" name="email" autocomplete="email" required class="fd-input">
		</div>
		<div class="break" small></div>
		<div class="fd-item fd-input-holder" center>
			<input type="password" primary placeholder="New Password" name="password" autocomplete="current-password" minlength="4" required ngModel class="fd-input">
		</div>
		<div class="break" small></div>
		<div class="fd-item fd-input-holder" center>
			<input type="password" primary placeholder="Re-Type Password" name="password" autocomplete="current-password" minlength="4" required ngModel class="fd-input">
		</div>
		<div class="break" small></div>
		<button class="fd-button ripple" type="submit" [disabled]="resetForm.invalid || !resetForm.dirty">Reset</button>
    	<div class="break" small></div>
    	<p class="fd-form-text" primary center><a caps primary inline routerLink="/forgot-password">Need a Code?</a></p>
    	<div class="break" small></div>
    	<p class="fd-form-text" primary center><a caps primary inline routerLink="/login">Login</a></p>
	</form>
</div>
