<div class="card" tinted flex attr.size="medium">
  <cl-image *ngIf="offer?.image"
    class="mercials-image"
    dpr="auto"
    responsive
    width="auto"
    crop="fill"
    [public-id]="offer.image"
    height="300"
    size="medium"
    secure="true">
    <cl-transformation background="black" opacity="80"></cl-transformation>
  </cl-image>
  <h2 class="card-title" bold>
    {{ offer.name }}
  </h2>
  <p class="card-subtitle">{{offer.description}}</p>
  <p class="card-subtitle" tags>
    {{ offer.franchise.name }} &bull; <span class="addresses" (click)="addressModal.openModal()" clickable>{{ offer.getLocations().split(",")[0] }}</span> &bull; {{ offer.merchips | number }}
  </p>
  <div class="card-spacer"></div>
  <div class="break" small></div>
  <div class="break" small></div>
  <i clickable class="material-icons card-special" (click)="specialModal.openModal()" *ngIf="offer.merchips == 0" >star</i>
  <div class="card-buttons">
    <button class="little" (click)="reportModal.openModal()">
      <i class="material-icons" style="color: white">bug_report</i>
    </button>
    <button class="big" (click)="onView()">
      <svg style="width:30px;height:30px" viewBox="0 0 24 24">
          <path fill="#000000" d="M4,4H10V10H4V4M20,4V10H14V4H20M14,15H16V13H14V11H16V13H18V11H20V13H18V15H20V18H18V20H16V18H13V20H11V16H14V15M16,15V18H18V15H16M4,20V14H10V20H4M6,6V8H8V6H6M16,6V8H18V6H16M6,16V18H8V16H6M4,11H6V13H4V11M9,11H13V15H11V13H9V11M11,6H13V10H11V6M2,2V6H0V2A2,2 0 0,1 2,0H6V2H2M22,0A2,2 0 0,1 24,2V6H22V2H18V0H22M2,18V22H6V24H2A2,2 0 0,1 0,22V18H2M22,22V18H24V22A2,2 0 0,1 22,24H18V22H22Z" />
      </svg>
    </button>
    <button class="little" (click)="onNavigation()">
      <i class="material-icons md-18" style="color: white">navigation</i>
    </button>
  </div>
</div>

<mz-modal #addressModal [fixedFooter]="false" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    <h5>Business Locations</h5>
  </mz-modal-header>
  <mz-modal-content>
    <div class="break" small></div>
    <a primary href="https://www.google.com/maps/search/?api=1&query={{encode(location.formatted)}}" target="_blank" *ngFor="let location of offer.locations">{{location.formatted}}</a>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" primary mz-modal-close>Close</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #specialModal [fixedFooter]="false" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    <h5>Exclusive Offer!</h5>
  </mz-modal-header>
  <mz-modal-content>
    <div class="break" small></div>
    <p>This is a Mercial exclusive offer and requires no Merchips to redeem! Thank you for being a member! Enjoy!</p>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" primary mz-modal-close>Awesome!</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #reportModal [fixedFooter]="true" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    <h5 primary>Report</h5>
  </mz-modal-header>
  <mz-modal-content>
    <mz-select-container>
      <select mz-select [(ngModel)]="reportReason" id="options-select" placeholder="Reason for Reporting">
        <option primary value="{{reason.value}}" *ngFor="let reason of reasons" class="left">{{reason.formatted}}</option>
      </select>
    </mz-select-container>
    <div class="break" small></div>
    <mz-input-container>
      <input mz-input
        label="This is optional. To submit, click 'Submit'"
        [validate]="false"
        id="expandRep-input"
        placeholder="Expand on Report"
        length="150"
        [(ngModel)]="reportExpand"
        type="text">
    </mz-input-container>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
    <button mz-button [flat]="true" primary mz-modal-close [disabled]="reportReason == ''" (click)="onReportSubmit()">Submit</button>
  </mz-modal-footer>
</mz-modal>
