<div class="flexible absolute">
	<form class="fd-form flexible no-min column centerize" noBack fill #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
		<div class="spacer"></div>
		<h1 class="fd-form-title" cursive primary>Mercial</h1>
		<div class="break" small></div>
		<h3 class="fd-form-subtitle" primary>Turn Time Into Discounts!</h3>
		<div class="break" medium></div>
		<div class="fd-input-holder">
			<input type="email" primary placeholder="E-mail Address" autofocus name="email" autocomplete="email" required ngModel email class="fd-input">
		</div>
		<div class="break" small></div>
		<div class="fd-item fd-input-holder" center>
			<input type="password" bullet primary placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;" name="password" autocomplete="current-password" minlength="4" required ngModel class="fd-input">
		</div>
		<div class="break" small></div>
		<button class="fd-button ripple" type="submit" [disabled]="loginForm.invalid">log in</button>
  	<div class="break" small></div>
  	<p class="fd-form-text" primary center><a inline primary caps routerLink="/register">Register</a></p>
  	<div class="break" small></div>
  	<p class="fd-form-text no-decoration" center><a caps inline routerLink="/forgot-password" primary>Forgot Password?</a></p>
	</form>
</div>

<!-- 1. Responsive design for wave and text
	 2. Disable button -->
