<div class="card" tinted flex [attr.size]="mercial.size">
  <img class="mercials-image" [src]="mercial.Cloudinarize(mercial.thumbnail, 'auto', 'h_'+mercial.heightPixel+',c_lfill,g_auto')"/>
  <h2 class="card-title" bold>
    <span style="flex-basis: 50%; text-align: center;">{{ mercial.title }}</span>
  </h2>
  <p class="card-subtitle" tags>{{mercial.publisher ? mercial.publisher + ' &bull; ' : ''}}<span class="tags" (click)="tagsModal.openModal()" clickable>{{ mercial.getTags() }}</span> &bull; {{ mercial.getSigns()  }}&nbsp;&bull;&nbsp;<i class="material-icons">timer</i>&nbsp;{{ mercial.duration.toFixed(0) }} sec</p>
  <div class="card-spacer"></div>
  <div class="card-buttons">
    <button class="little" (click)="reportModal.openModal()">
      <i class="material-icons" style="color: white">bug_report</i>
    </button>
    <button class="big" (click)="onView()">
      <i class="material-icons">play_arrow</i>
    </button>
    <button class="little" (click)="informationModal.openModal()">
      <i class="material-icons" style="color: white">more_vert</i>
    </button>
  </div>
</div>

<mz-modal #tagsModal [fixedFooter]="true" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    <h5>Tags</h5>
  </mz-modal-header>
  <mz-modal-content>
    <div class="break" small></div>
    <p [innerHTML]="mercial.tags.slice().join('<br/><br/>')"></p>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" primary mz-modal-close>Close</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #reportModal [fixedFooter]="true" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    <h5 primary>Report</h5>
  </mz-modal-header>
  <mz-modal-content>
    <mz-select-container>
      <select mz-select [(ngModel)]="reportReason" id="options-select" placeholder="Reason for Reporting">
        <option primary value="{{reason.value}}" *ngFor="let reason of reasons" class="left">{{reason.formatted}}</option>
      </select>
    </mz-select-container>
    <div class="break" small></div>
    <mz-input-container>
      <input mz-input primary
        label="This is optional. To submit, click 'Submit'"
        [validate]="false"
        id="expandRep-input"
        placeholder="Expand on Report"
        length="150"
        [(ngModel)]="reportExpand"
        type="text">
    </mz-input-container>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
    <button mz-button [flat]="true" primary mz-modal-close [disabled]="reportReason == ''" (click)="onReportSubmit()">Submit</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #informationModal [fixedFooter]="true" [bottomSheet]="true" [options]="modalOptions">
  <mz-modal-header>
    <h6>{{mercial.description}}</h6>
  </mz-modal-header>
  <mz-modal-content>
    <div class="break" small></div>
    <a mz-collection-link primary (click)="onInformation()" *ngFor="let url of moreInfoU; let i = index" [href]="url">{{moreInfoF[i]}} - {{url}}</a>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" primary mz-modal-close>Close</button>
  </mz-modal-footer>
</mz-modal>
