<div class="viewer-container-hide full" (click)="onHide()"></div>
<div class="viewer-container" qr [class.ended]="redeemed">
  <ng-container *ngIf="!redeemed">
    <i primary clickable *ngIf="!fastRedeemCode" (click)="onGetFastQR()" class="material-icons fd-redeem-fast">flash_on</i>
    <div class="fd-redeem-code" *ngIf="fastRedeemCode" [innerHTML]="fastRedeemCode">

    </div>
    <cl-image *ngIf="!fastRedeemCode && offer?.redeemCode"
      alt="redeem code"
      class="fd-redeem-code"
      width="400"
      format="png"
      [public-id]="offer.getCloudinaryID()"
      height="400"
      secure="true">
      <cl-transformation width="400" height="400" crop="scale"></cl-transformation>
      <cl-transformation color="#663399" effect="colorize:100"></cl-transformation>
    </cl-image>
    <span class="fd-redeem-auth" (click)="showCode = true" style="font-size: 2.5rem" *ngIf="!showCode" primary [innerHTML]="offer?.hiddenCode"></span>
    <span class="fd-redeem-auth" (click)="showCode = false" style="font-size: 1.6rem;padding-top:10px;padding-bottom:10px;" *ngIf="showCode" primary>{{ offer?.redeemVerifyCode }}</span>
  </ng-container>
</div>
<ng-container *ngIf="redeemed">
  <div class="success fini">
    <i class="ssi material-icons" primary>check</i>
  </div>
  <div class="success bottom fini">
    <i class="ssi material-icons" primary>local_offer</i>
  </div>
</ng-container>
