<div class="container"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="80"
      (scrolled)="populateOlderFeed()">
  <app-mercial-mercial *ngFor="let mercial of ads; let i = index" (selected)="showMercial($event)" [mercial]="mercial"></app-mercial-mercial>
</div>
<app-feed-viewer *ngIf="mercialAvailable" [mercial]="currentMercial" (hide)="clearMercial($event)"></app-feed-viewer>
<div class="filter-viewer-backdrop" (click)="onFilterClose($event)" feed *ngIf="filterOpen">
  <div class="filter-container" id="filter-container">
    <i clickable (click)="onFilterChange()" class="material-icons" style="color:#663399; position: absolute; right: 10px;font-size: 32px;">filter_list</i>
    <div class="break" small></div>
    <h3 style="color: 663399">Video Attributes</h3>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onAttribSelect($event)" id="attrib-1" value="none" label="None" [withGap]="true" name="attrib" [checked]="this.feedService.filters.meta == null" type="radio">
    </mz-radio-button-container>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onAttribSelect($event)" id="attrib-2" value="merchips" label="Merchips" [withGap]="true" name="attrib" [checked]="this.feedService.filters.meta == 'merchips'" type="radio">
    </mz-radio-button-container>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onAttribSelect($event)" id="attrib-3" value="views" label="Views" [withGap]="true" name="attrib" [checked]="this.feedService.filters.meta == 'views'" type="radio">
    </mz-radio-button-container>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onAttribSelect($event)" id="attrib-4" value="duration" label="Duration" [withGap]="true" name="attrib" [checked]="this.feedService.filters.meta == 'duration'" type="radio">
    </mz-radio-button-container>
    <div class="break" small></div>
    <h3 style="color: 663399">Date</h3>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onDateSelect($event)" id="date-1" value="newest" label="Newest" [withGap]="true" name="date" [checked]="this.feedService.filters.date == 'newest'" type="radio">
    </mz-radio-button-container>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onDateSelect($event)" id="date-2" value="oldest" label="Oldest" [withGap]="true" name="date" [checked]="this.feedService.filters.date == 'oldest'" type="radio">
    </mz-radio-button-container>
    <div class="break" small></div>
    <h3 style="color: 663399">Categories</h3>
    <mz-checkbox-container *ngFor="let key of categoriesKeys; let i = index">
      <input mz-checkbox filledIn="true" [checked]="this.feedService.filters.categories && this.feedService.filters.categories.includes(key)" (change)="onCategorySelect($event)" [label]="categories[key]" [value]="key" name="category" id="category-{{i}}" type="checkbox">
    </mz-checkbox-container>
    <div class="break" small></div>
  </div>
</div>
