.addToHome {
  position: fixed;
  bottom: 80px;
  left: calc(50% - 150px);
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 10px 5px 10px 5px;
  z-index: 10000;
  background: #373737;
  color: white;
  border-radius: 8px;
}
