<div class="tb" flat *ngIf="authService.isAuthenticated()">
  <button *ngIf="feedFilters" no-collapse class="tb-btn ripple mlr-small" (click)="onRefresh()" ripple-color type="button">
    <i class="material-icons">refresh</i>
  </button>
  <span no-collapse class="tb-spacer"></span>
  <button cursive no-collapse class="md-24 tb-btn ripple mlr-small" ripple-color="main" type="button">
  Mercial
  </button>
  <span no-collapse class="tb-spacer"></span>
  <button *ngIf="feedFilters" no-collapse class="tb-btn ripple mlr-small" (click)="onFilter()" ripple-color type="button">
    <i class="material-icons">filter_list</i>
  </button>
  <button *ngIf="offerFilters" no-collapse class="tb-btn ripple mlr-small" (click)="onFilterOffers()" ripple-color type="button">
    <i class="material-icons">filter_list</i>
  </button>
  <button primary no-collapse class="md-14 tb-btn-round ripple mlr-small" ripple-color="main" type="button">
  {{ authService.getMerchips(true) }}
  </button>
  <mz-progress *ngIf="loading"></mz-progress>
</div>

<div class="content" [attr.auth]="authService.isAuthenticated() ? 'true' : null">
  <router-outlet></router-outlet>
</div>

<div class="tb bottom" *ngIf="authService.isAuthenticated()">
  <button no-collapse class="tb-btn" type="button" routerLinkActive="tb-active-link" [routerLinkActiveOptions]="{exact:true}">
    <a nested class="tb-link" routerLink="/analytics" queryParamsHandling="merge"></a>
    <i class="md-28 material-icons">show_chart</i>
  </button>
  <button no-collapse class="tb-btn" type="button" routerLinkActive="tb-active-link" [routerLinkActiveOptions]="{exact:true}">
    <a nested class="tb-link" routerLink="/feed" queryParamsHandling="merge"></a>
    <i class="md-28 material-icons">video_library</i>
  </button>
  <button no-collapse class="tb-btn" type="button" routerLinkActive="tb-active-link" [routerLinkActiveOptions]="{exact:true}">
    <a nested class="tb-link" routerLink="/offers" queryParamsHandling="merge"></a>
    <i class="md-28 material-icons">local_offer</i>
  </button>
  <button no-collapse class="tb-btn" type="button" routerLinkActive="tb-active-link" [routerLinkActiveOptions]="{exact:true}">
    <a nested class="tb-link" routerLink="/settings" queryParamsHandling="merge"></a>
    <i class="md-28 material-icons">settings</i>
  </button>
</div>
<app-mercial-redeem-validator *ngIf="authService.isAuthenticated()"></app-mercial-redeem-validator>

<div class="addToHome" *ngIf="isIOS && !isStandalone"><i class="material-icons">arrow_downward</i>&nbsp;&nbsp;Tap 'Share' icon & add to home&nbsp;&nbsp;<i class="material-icons">arrow_downward</i></div>
