<div class="viewer-container" [attr.ended]="ended ? 'true' : null">
  <ng-container *ngIf="!ended">
    <video id="v" (loadeddata)="onLoad()" (progress)="onLoad()" (click)="onVideoOptions()" playsinline webkit-playsinline [poster]="ad?.Cloudinarize(ad.thumbnail, width, 'q_80,vc_auto')" (timeupdate)="onTimeChange($event)" (seeking)="onSeeking($event)" (seeked)="onSeeked($event)" (ended)="onEnded()" class="fd-modal-video" #viewerPlayer>
        <source [src]="ad?.Cloudinarize(ad.video, width, 'vc_auto', true)" type="video/mp4">
    </video>
    <div id="vh" class="fd-modal-video-handler" [attr.hideBack]="!showControls ? 'true' : null">
      <div class="viewer-container-hide mercial-viewer" clickable (click)="onHide()">X</div>
      <div class="card-spacer"></div>
      <div class="card-spacer"></div>
      <p class="card-subtitle" style="font-size: 1.4rem !important; display: flex; align-items: center; justify-content: center;">{{ ad?.description }}</p>
      <div class="card-spacer"></div>
      <div class="card-spacer"></div>
      <span class="time-text">
        <i clickable class="play-pause" *ngIf="watching" class="material-icons" (click)="onPause()">pause</i>
        <i clickable class="play-pause" *ngIf="!watching" class="material-icons" (click)="playVideo()">play_arrow</i>
        <span class="left">{{ formatTime(seconds + 0.3) }}</span>
        <span class="spacer"></span>
        <span class="right">-{{ formatTime(left) }}</span>
      </span>
      <div class="timekeeper" [attr.hideBack]="!showControls ? 'true' : null">
        <div class="tks" id="tks"></div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="ended">
    <div clickable class="viewer-container-hide postview  mercial-viewer" (click)="onHide()">X</div>
    <div class="fini clear padding">
      <span primary style="font-size: 5rem">+{{ awardedMerchips }}</span>
    </div>
    <div class="fini clear bottom" clickable (click)="onInformation()">
      <span primary style="font-size: 2rem">Find out more!</span>
    </div>
  </ng-container>
</div>
