<div class="container">
  <div class="fd-basis" left>
    <div class="card" column analytic has-icon>
      <i primary class="material-icons md-28">money</i>
      <p primary class="card-title">{{ merchipsEarned | number }}</p>
      <p class="card-subtitle">Lifetime Merchips</p>
    </div>
    <div class="card" column analytic has-icon>
      <i primary class="material-icons md-28">video_library</i>
      <p primary class="card-title">{{ mercialsWatched | number }}</p>
      <p class="card-subtitle">Mercials Watched</p>
    </div>
  </div>
  <div class="fd-basis" right>
    <div class="card" column analytic has-icon>
      <i primary class="material-icons md-28">credit_card</i>
      <p primary class="card-title">{{ moneySaved | currency }}</p>
      <p class="card-subtitle">Money Saved</p>
    </div>
    <div class="card" column analytic has-icon>
      <i primary class="material-icons md-28">local_offer</i>
      <p primary class="card-title">{{ offersRedeemed | number }}</p>
      <p class="card-subtitle">Offers Redeemed</p>
    </div>
  </div>
  <div class="card" graph left>
    <p class="card-title" primary>
      Monthly Activity
    </p>
    <canvas baseChart width="250" height="250"
                 [datasets]="monthlyData"
                 [labels]="lineChartLabels"
                 [options]="lineChartOptions"
                 [colors]="monthlyDataColors"
                 [legend]="true"
                 [chartType]="lineChartType"></canvas>
  </div>
  <div class="card" graph right *ngIf="pieChartData.length > 0">
    <p class="card-title" primary>
      Zipcodes Traveled
    </p>
    <canvas baseChart height="250" width="250"
            [colors]="pieChartColors"
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"></canvas>
  </div>
  <div class="card" graph left [attr.right]="pieChartData.length == 0 ? 'true' : null">
    <p class="card-title" primary>
      Seconds Watched Monthly
    </p>
    <canvas baseChart width="300" height="400"
                 [datasets]="secondsMonthlyData"
                 [labels]="lineChartLabels"
                 [options]="lineChartOptions"
                 [colors]="lineChartColors"
                 [legend]="lineChartLegend"
                 [chartType]="lineChartType"
                 *ngIf="secondsMonthlyData[0].data.length > 0"></canvas>
  </div>
  <div class="break" small></div>
</div>
