.fd-basis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;

  &[left] {
    float: left;
  }

  &[right] {
    float: right;
  }
}

.fd-basis[fifty] {
  flex-basis: 50%;
}

.fd-basis-full {
  flex-basis: 100% !important;
  height: 100%;
  position: absolute;
  top: 0;
}

.card[analytic] {
  max-width: 300px;
  flex-basis: 48%;

  & .card-title {
    font-weight: 500;
    color: #663399 !important;
    padding-top: 5px;
    font-size: 28px !important;
  }

  & .card-subtitle {
    color: #666 !important;
    font-size: 14px !important;
  }
}

.card[graph] {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 500px;
  max-height: 500px;
  width: 45%;
  min-width: 300px;
  margin: 0 auto;

  &[left] {
    float: left;
  }

  &[right] {
    float: right;
  }

  & .card-title {
    padding-top: 10px;
  }

  & canvas {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
  }
}

.card-title {
  color: #663399 !important;
}

@media screen and (max-width: 1000px) {
  .fd-basis {
    float: none !important;
    width: 100%;
  }

  .card[graph] {
    float: none !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
