<div class="flexible absolute">
	<form class="fd-form flexible no-min column centerize" noBack fill #forgotForm="ngForm" (ngSubmit)="onSubmit(forgotForm)">
		<div class="spacer"></div>
		<h1 class="fd-form-title" cursive primary>Forgot Password</h1>
		<div class="break" medium></div>
		<div class="fd-item fd-input-holder" center>
			<input type="email" primary placeholder="E-Mail Address" autofocus name="email" autocomplete="email" ngModel email required class="fd-input">
		</div>
		<div class="break" small></div>
		<div class="fd-item fd-input-holder" center>
			<input mz-datepicker (click)="onDateChoose()" primary class="fd-input" [options]="datePickerOptions" id="datepicker" placeholder="Date of Birth" type="text" required ngModel name="birthdate">
		</div>
		<div class="break" small></div>
		<button class="fd-button ripple" type="submit" [disabled]="forgotForm.invalid">Get Code</button>
    <div class="break" small></div>
    <p class="fd-form-text" primary center><a caps primary inline routerLink="/reset-password">Have a Code?</a></p>
    <div class="break" small></div>
    <p class="fd-form-text" primary center><a caps primary inline routerLink="/login">Login</a></p>
	</form>
</div>
