<mz-modal #confirmationModal [fixedFooter]="false" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    <h4>Confirmation Needed</h4>
  </mz-modal-header>
  <mz-modal-content>
    Are you trying to redeem an offer?
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button (click)="onCancel()" [flat]="true" mz-modal-close>No</button>
    <button mz-button primary (click)="onApprove()" [flat]="true" mz-modal-close>Yes</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #handledModal [fixedFooter]="false" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    <h4>Handled</h4>
  </mz-modal-header>
  <mz-modal-content>
    Prompt was handled on a different device
  </mz-modal-content>
  <mz-modal-footer>
    <button primary mz-button (click)="awaiting = false" [flat]="true" mz-modal-close>Ok</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #successModal [fixedFooter]="false" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    <h4>Awesome!</h4>
  </mz-modal-header>
  <mz-modal-content>
    Show this to the business manager
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button primary [flat]="true" mz-modal-close>Ok</button>
  </mz-modal-footer>
</mz-modal>
