<div class="flexible absolute">
	<form class="fd-form flexible no-min column centerize" noBack fill #registerForm="ngForm" (ngSubmit)="onRegisterSubmit(registerForm)">
		<div class="spacer"></div>
		<h1 class="fd-form-title" cursive primary>Register</h1>
		<div class="break" medium></div>
		<div class="fd-item fd-input-holder" center>
			<input type="text" primary placeholder="Full Name" name="fullname" autofocus required class="fd-input">
		</div>
		<div class="break" small></div>
		<div class="fd-item fd-input-holder" center>
			<input type="email" primary placeholder="E-Mail Address" name="email" autocomplete="email" required class="fd-input">
		</div>
		<div class="break" small></div>
		<div class="fd-item fd-input-holder" center>
			<input type="password" primary placeholder="Password" name="password" required class="fd-input">
		</div>
		<div class="break" small></div>
		<div class="fd-item fd-input-holder" center>
			<input mz-datepicker (click)="onDateChoose()" primary class="fd-input" [options]="datePickerOptions" id="datepicker" placeholder="Date of Birth" type="text" ngModel name="bithdate">				
		</div>
		<div class="break" small></div>
		<button class="fd-button ripple" type="submit" [disabled]="registerForm.invalid">Register</button>
  	<div class="break" small></div>
  	<p class="fd-form-text consent" center>By clicking Register, you agree to our <a inline primary routerLink="/legal#terms-of-use">Terms</a> and that you have read our <a inline primary routerLink="/legal#privacy-policy">Privacy Policy</a>, including our <a inline primary routerLink="/legal#disclaimer">Disclaimer</a></p>
  	<div class="break" small></div>
  	<p class="fd-form-text" primary center><a caps inline primary routerLink="/login">login</a></p>
	</form>
</div>

<!-- 1. Responsive design for wave and text
	 2. Better Date Picker
	 3. Disable button -->
