<div class="container"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="80"
      (scrolled)="populateOlderFeed()">
  <app-mercial-offer *ngFor="let offer of offers; let i = index" (selected)="showOffer($event)" [offer]="offer"></app-mercial-offer>
</div>
<app-redeem-viewer *ngIf="offerAvailable" [offer]="currentOffer" (hideViewer)="clearOffer($event)"></app-redeem-viewer>
<div class="filter-viewer-backdrop" (click)="onFilterClose($event)" feed *ngIf="filterOpen">
  <div class="filter-container" id="filter-container">
    <i clickable (click)="onFilterChange()" class="material-icons" style="color:#663399; position: absolute; right: 10px;font-size: 32px;">filter_list</i>
    <div class="break" small></div>
    <h3 style="color: 663399">Offer Attributes</h3>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onAttribSelect($event)" id="attrib-1" value="none" label="None" [withGap]="true" name="attrib" [checked]="this.offerService.filters.meta == null" type="radio">
    </mz-radio-button-container>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onAttribSelect($event)" id="attrib-2" value="redeems" label="Redeems" [withGap]="true" name="attrib" [checked]="this.offerService.filters.meta == 'redeems'" type="radio">
    </mz-radio-button-container>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onAttribSelect($event)" id="attrib-3" value="highest" label="High Cost" [withGap]="true" name="attrib" [checked]="this.offerService.filters.meta == 'highest'" type="radio">
    </mz-radio-button-container>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onAttribSelect($event)" id="attrib-4" value="lowest" label="Low Cost" [withGap]="true" name="attrib" [checked]="this.offerService.filters.meta == 'lowest'" type="radio">
    </mz-radio-button-container>
    <div class="break" small></div>
    <h3 style="color: 663399">Date</h3>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onDateSelect($event)" id="date-1" value="newest" label="Newest" [withGap]="true" name="date" [checked]="this.offerService.filters.date == 'newest'" type="radio">
    </mz-radio-button-container>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onDateSelect($event)" id="date-2" value="oldest" label="Oldest" [withGap]="true" name="date" [checked]="this.offerService.filters.date == 'oldest'" type="radio">
    </mz-radio-button-container>
    <div class="break" small></div>
    <h3 style="color: 663399">Distance</h3>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onDistanceSelect($event)" id="distance-1" value="two" label="2 miles" [withGap]="true" name="distance" [checked]="this.offerService.filters.location == 'two'" type="radio">
    </mz-radio-button-container>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onDistanceSelect($event)" id="distance-2" value="five" label="5 miles" [withGap]="true" name="distance" [checked]="this.offerService.filters.location == 'five'" type="radio">
    </mz-radio-button-container>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onDistanceSelect($event)" id="distance-3" value="ten" label="10 miles" [withGap]="true" name="distance" [checked]="this.offerService.filters.location == 'ten'" type="radio">
    </mz-radio-button-container>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onDistanceSelect($event)" id="distance-4" value="fifteen" label="15 miles" [withGap]="true" name="distance" [checked]="this.offerService.filters.location == 'fifteen'" type="radio">
    </mz-radio-button-container>
    <mz-radio-button-container>
      <input mz-radio-button (change)="onDistanceSelect($event)" id="distance-5" value="twenty" label="20 miles" [withGap]="true" name="distance" [checked]="this.offerService.filters.location == 'twenty'" type="radio">
    </mz-radio-button-container>
    <div class="break" small></div>
  </div>
</div>
