.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

app-mercial-offer {
  flex-basis: 100%;
  max-width: 60%;
}

@media screen and (max-width: 1000px) {
  app-mercial-offer {
    max-width: 90%;
  }
}
