<div class="container">
  <div class="card" column has-icon>
    <i primary class="material-icons md-28">person</i>
    <div class="break" small></div>
    <form class="fd-form" [formGroup]="accountForm" (ngSubmit)="onAccountSubmit()">
      <div class="fd-input-holder">
        <input class="fd-input" primary placeholder="E-mail" autofocus autocomplete="email" name="email" required type="text" formControlName="email" email>
      </div>
      <div class="break" small></div>
      <div class="fd-input-holder">
        <input class="fd-input" type="password" bullet primary placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;" name="password" autocomplete="current-password" minlength="4" required formControlName="password">
      </div>
      <div class="break" small></div>
      <button class="fd-button ripple" type="submit" name="submit" [disabled]="accountForm.invalid || !accountForm.dirty">Update</button>
    </form>
  </div>

  <div class="break" small></div>

  <div class="card" column has-icon>
    <i primary class="material-icons md-28">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#663399" d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" />
      </svg>
    </i>
    <div class="break" small></div>
    <form class="fd-form" [formGroup]="preferencesForm" (ngSubmit)="onPreferencesSubmit()">
      <div class="fd-input-holder">
        <input placeholder="Interests i.e '6enji, Rap'" type="text"name="tags" autocomplete="tag" formControlName="tags" class="fd-input">
      </div>
      <div class="break" small></div>
      <button class="fd-button ripple" type="submit" name="submit" [disabled]="preferencesForm.invalid || !preferencesForm.dirty">Update</button>
    </form>
  </div>

  <div class="break" small></div>

  <div class="card" column has-icon>
    <i primary class="material-icons md-28">person_pin</i>
    <div class="break" small></div>
    <form class="fd-form" [formGroup]="locationForm" (ngSubmit)="onLocationSubmit()">
      <div class="fd-input-holder">
        <input placeholder="Zip code" type="text" name="zipcode" autocomplete="zipcode" formControlName="zipcode" class="fd-input">
      </div>
      <div class="break" small></div>
      <button class="fd-button ripple" type="submit" name="submit" [disabled]="locationForm.invalid || !locationForm.dirty">Update</button>
    </form>
  </div>

  <div class="break" small></div>

  <div class="card" column has-icon>
    <i primary class="material-icons md-28">pie_chart</i>
    <div class="break" small></div>
    <form class="fd-form" [formGroup]="targetsForm" (ngSubmit)="onTargetSubmit()">
      <div class="break" small></div>
      <mz-select-container class="fd-select" *ngIf="authService.isAuthenticated()">
        <select mz-select id="ethnicities-select" label="Ethnicty" placeholder="Select one..." formControlName="ethnicity" clickable>
          <option class="left" *ngFor="let option of ethnicities; let i = index" [value]="option.value">{{ option.formatted }}</option>
        </select>
      </mz-select-container>
      <mz-select-container class="fd-select" *ngIf="authService.isAuthenticated()">
        <select filledIn="true" multiple mz-select id="languages-select" label="Languages Understood" placeholder="Select multiple..." formControlName="languages" clickable>
          <option class="left" *ngFor="let option of languages; let i = index" [value]="option.value">{{ option.formatted }}</option>
        </select>
      </mz-select-container>
      <button class="fd-button ripple" type="submit" name="submit" [disabled]="targetsForm.invalid || !targetsForm.dirty">Update</button>
    </form>
  </div>

  <div class="break" small></div>

  <div class="card" column has-icon>
    <i primary class="material-icons md-28">money</i>
    <div class="break" small></div>
    <mz-collection>
      <mz-collection-item role="link" clickable (click)="onBuyMerchips('sku_FZs82nAOm1jEWF', '150')">$1.5 - 1,000 Merchips</mz-collection-item>
      <mz-collection-item role="link" clickable (click)="onBuyMerchips('sku_Fmcao9lLZ307if', '375')">$3.75 - 2,500 Merchips</mz-collection-item>
      <mz-collection-item role="link" clickable (click)="onBuyMerchips('sku_FmcajJLm4qCmZZ', '750')">$7.5 - 5,000 Merchips</mz-collection-item>
      <mz-collection-item role="link" clickable (click)="onBuyMerchips('sku_FmcaPP0PugQ3ZU', '1500')">$15 - 10,000 Merchips</mz-collection-item>
    </mz-collection>
  </div>

  <div class="break" small></div>

  <div class="card" column has-icon>
    <i primary class="material-icons md-28">delete</i>
    <div class="break" small></div>
    <form class="fd-form" [formGroup]="deleteAccountForm" (ngSubmit)="onDeleteSubmit()">
      <div class="fd-input-holder">
        <input placeholder="Confirm E-mail Address" type="text" name="email-confirm-delete" autocomplete="off" formControlName="email" email (input)="validateDeletion()" class="fd-input">
      </div>
      <div class="break" small></div>
      <button class="fd-button ripple" type="submit" name="submit" *ngIf="deletionIsValid" [disabled]="deleteAccountForm.invalid">Update</button>
    </form>
  </div>

  <div class="break" small></div>

  <div class="card" column has-icon>
    <i primary class="material-icons md-28">help</i>
    <div class="break" small></div>
    <p class="link-holder">
      <button class="fd-button ripple" type="button">
        <a nested class="tb-link" primary target="_blank" href="https://www.mercial.io/faqs"></a>
        Go to FAQs
      </button>
    </p>
  </div>

  <div class="break" small></div>

  <div class="card" column has-icon>
    <i primary class="material-icons md-28">exit_to_app</i>
    <div class="break" small></div>
    <button class="fd-button ripple" (click)="onLogout()" type="button">Log out</button>
  </div>

  <div class="break" small></div>

  <div class="card" column has-icon>
    <i primary class="material-icons md-28">gavel</i>
    <div class="break" small></div>
    <p class="link-holder">
      <a primary target="_blank" href="https://www.mercial.io/legal#{{link.value}}" *ngFor="let link of legalDocs;">{{link.formatted}}</a>
    </p>
  </div>
</div>
