.fd-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.fd-select {
  max-width: 500px;
  width: 100%;
}

mz-collection-item {
  border: none !important;
}
